<h1>Admin Preferences</h1>
<%= form_for :preference do |f| %>
    <%= f.label :allow_create_artists, "Allow Artist Creation" %><br>
    True: <%= f.radio_button :allow_create_artists, true %><br>
    False: <%= f.radio_button :allow_create_artists, false %><br>
    <%= f.label :allow_create_songs, "Allow Song Creation" %><br>
    True: <%= f.radio_button :allow_create_songs, true %><br>
    False: <%= f.radio_button :allow_create_songs, false %>
<% end %>


